/* Reset de estilos */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilos do menu de hambúrguer */
.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: #fff;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-list li {
    margin: 0 10px;
}

.menu-list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.menu-list a:hover {
    color: #ddd;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .menu-list {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        padding: 20px;
        width: 200px;
        text-align: center;
        border-radius: 5px;
    }

    .menu-list.show-menu {
        display: block;
    }

    .menu-list ul {
        flex-direction: column;
    }

    .menu-list li {
        margin: 10px 0;
    }
}
