/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
/* Estilo para o menu lateral */
ul {
    list-style: none;
    padding: 5px;  
}
li {
    padding: 5px;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 40px;
}       
a {
    text-decoration: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    color: #ffffff;
    background-color: #2484ddcb;
    border-radius: 30px;
}a:hover {
    color: #ffffff;
    background-color: #1a67a7;
}
/* Quando o mouse passa sobre um item do menu */
main {
    width: 65%;
    text-align: center;
    margin: 0 auto;
}
/* Estilo para o cabeçalho no conteúdo principal */
header {
    background-color: #008332;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    
}
/* Estilo para as seções no conteúdo principal */
section {
    padding: 15px;
    margin: 10px;
}
/* Estilo para os títulos das seções */
h2 {
    color: #333;
}
/* Estilo para os parágrafos nas seções */
p .p {
    color: #080808;
    
}.p:hover {
    color: rgb(23, 37, 231);
    text-decoration:underline;
    background-color: #3333335b;
}
/* Estilos adicionais, se necessário */
